.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--gold);
  color: var(--brown);
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.3s;
  min-width: 8rem;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px var(--light-yellow), 0px 0px 0px 4px var(--gold);
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
